/*General Styes*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
/*Header*/

header {
    background-color: #1f2937;
    padding: 1em 13em;
}

#logo{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8 ;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav ul{
    display: flex;
    gap: 1.5em;
}

.nav a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.nav a:hover{
    color: red;
}

.nav a:active{
    color: purple;
}

/* Main Styles */

.main {
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.main .left{
    display: flex;
    flex-direction: column;
    gap: 1em
}

.main .right{
    flex-shrink: 0;
    width: 50%;
}

.hero{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
}

.img {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
}